body {
  height: 100%;
  padding: 60px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#structure{
    margin: 0 auto;
    width: 70%;
}

a {
    color: #00b7ff;
    text-decoration: none;
}
img{
    border: none;
}

#content {
    padding-bottom: 20px;
}

#menu{
      display: inline;
}
