{% extends '::debates/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    <style>        
        #EventsList { padding: 20px; }
        #EventsList input[type=text]{
            width: 300px;
        }
    </style>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        $(function() { 
            
            if(socket){
                
                $("#GetTopicListBtn").click(function () {
                    socket.emit('getUsersList', { topic_id : $("#GetTopicListTxt").val() });
                });
        
                $("#TopicStartedBtn").click(function () {
                    socket.emit('TopicStarted', { topic_id : $("#TopicStartedTxt").val() });
                });
                
                {#
                $("#TopicDetail").find("#Join").click(function () {
                    socket.emit('addMember', { topic_id : "{{ topic.id }}", user_id : "{{ user.id }}" });
                });                  
            
                #}
                
            }
        });
        
    </script>
    
{% endblock %}

{% block body %}
    
   <div id="EventsList">
        <input type="button" id="GetTopicListBtn" value="Get Topic List"><input type="text" id="GetTopicListTxt"> 
        <input type="button" id="TopicStartedBtn" value="Start topic"><input type="text" id="TopicStartedTxt"> 
   </div>
   
        
{% endblock %}